<div class="span6 offset1">
  <ul class="unstyled">
    <li class="sharethis">
      <span class="st_twitter_button" displayText="Tweet"></span>
      <span class="st_facebook_button" displayText="Comparte"></span>
      <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'561b6ede-ce4a-4f05-86f0-62f1df805141'});</script>
      <a href="/sobre-nosotros/">¿Algún comentario?</a>
    </li>
  </ul>
</div>
