<div id="content">
  <p>Esta aplicación ha sido desarrollada por <a href="mailto:david@dondevanmisimpuestos.es">David Cabo</a> 
  (<a href="http://twitter.com/#!/dcabo">@dcabo</a>) en colaboración con 
  <strong><a href="http://www.probp.org">Pro Bono Publico</a></strong> - una ONG centrada en propugnar la apertura 
  de datos públicos en España - y con la <strong><a href="http://www.okfn.org">Open Knowledge Foundation</a></strong>, 
  organización responsable del proyecto <strong><a href="http://www.wheredoesmymoneygo.org">'Where does my money go'</a></strong>.</p>
</div>