<div class="row">
  <div class="span10 offset2">
    <div class="page-header">
      <h1>¿Quién ha hecho esto?
      </h1>
      <p>Esta aplicación fue creada inicialmente por <a href="mailto:david@dondevanmisimpuestos.es">David Cabo</a> 
      (<a href="http://twitter.com/#!/dcabo" target="_blank">@dcabo</a>), miembro de 
      <strong><a href="http://www.probp.org">Pro Bono Publico</a></strong> - una ONG centrada en propugnar la apertura 
      de datos públicos en España - en colaboración con la <strong><a href="http://www.okfn.org">Open Knowledge Foundation</a></strong>, 
      organización responsable del proyecto original, <strong><a href="http://www.wheredoesmymoneygo.org">'Where does my money go'</a></strong>.</p>
      
      <p>Al proyecto se han sumado:</p>
      <ul>
        <li>Jacobo Elosua (<a href="http://twitter.com/#!/ezaromedia" target="_blank">@ezaromedia</a>),
          que escribió los textos y apoyo moralmente desde el principio.</li>
        <li>Juan Elosua (<a href="http://twitter.com/#!/jjelosua" target="_blank">@jjelosua</a>)
          adaptó a España la visualización sobre presupuestos regionales que 
          <a href="http://visup.it/">VISup</a> había hecho 
          <a href="http://www.visup.it/misc/workshop/index.htm">para Italia</a>.</li>
      </ul>
      
      <p>Todo esto no sería posible sin el código y las imágenes de:</p>
      <ul>
        <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
        <li><a href="http://mbostock.github.com/d3/">D3</a></li>
        <li><a href="http://jquery.com/">jQuery</a></li>
        <li><a href="http://subtlepatterns.com/">SubtlePatterns.com</a></li>
        <li><a href="http://visup.it/">VISup</a></li>
      </ul>
    </div>
  </div>
</div>