<link rel="stylesheet" type="text/css"  href="/stylesheets/jquery-ui.css" media="screen" />
<link rel="stylesheet" type="text/css"  href="/stylesheets/ccaa.css" media="screen" />

<script type="text/javascript" src="/javascripts/d3.js"></script>
<script type="text/javascript" src="/javascripts/d3.geo.js"></script>
<script type="text/javascript" src="/javascripts/d3.csv.js"></script>

<div class="row">
  <div class="span11 offset1">
  	<h2>Los presupuestos de las Comunidades Autónomas</h2>
  	<p>
  		Esta aplicación hace uso de los <a href="#sources">datos publicados en las siguientes fuentes</a> 
  		y permite ver la distribución del presupuesto regional durante los años 2006 al 2010.<br/>
  		<br/>
      Se puede observar el comportamiento <a href="javascript:startUpdate()">temporal de los gastos</a> 
      en función del <a href="javascript:selectTotalAmount()">presupuesto total</a>, 
      o <a href="javascript:selectPerPerson()">repartido por habitante</a>.      
      También se pueden visualizar las cantidades por área funcional, como por ejemplo la 
      <a href="javascript:selectFunction(31)">Sanidad</a>, referidas a cada región o 
      a todo el territorio nacional.<br />
      <br />
      Para esta visualización te aconsejamos que utilices Firefox, Safari, Chrome o Opera. Pero no Internet Explorer.
  	</p>
  </div>

  <div id="loading" style="clear:both;">Por favor espere, estamos descargando los datos</div>
</div>

<!-- VISUALIZATION -->
<div id="vis" style="position:relative">
	<div id="functionsKey"></div>
	<div id="map"> </div>
	<div id="infobox">
		<div id="infoTitle" class="title"></div>
		<div id="infoValue" class="value"></div>

		<div id="infoDesc" class="desc"></div>
		<div id="infoAvgBox" class="avg">
			<div id="infoGreyVal" class="infobarbg"></div>
			<div id="infoBar" class="infobar"></div>
			<div id="infoValImg" class="infobarimg"></div>
			<div id="infoAvgText" class="infoavg"></div>
		</div>
	</div>
</div>

<!-- CONTROLS -->
<div id="controls">
	<div id="playBtn" style="float: left;"></div>
	<div id="yearnavbar" style="float: left;"></div>
	<div style="float: left; margin-left: 10px;">
		<input type="radio" value="media" id="sumtype_perperson" name="sumtype" checked="true" ><span class="option-radio-text">budget por persona</span>
		<input type="radio" value="total" id="sumtype_total" name="sumtype"><span class="option-radio-text">budget total</span>
	</div>
</div>

<div id="leyenda" class="span6 offset1">
	<span>min > max</span>
	<div id="leyendabg" style="width:190px;"></div>
</div>

<div class="row">
  <div class="span8 offset1">
    <p><strong>Fuentes:</strong></p>
    <ul class="unstyled">
      <li><a href="http://www.ine.es/ss/Satellite?L=0&c=Page&cid=1254735116596&p=1254735116596&pagename=ProductosYServicios%2FPYSLayout">Cartografia (INE)</a></li>
      <li><a href="http://serviciosweb.meh.es/apps/publicacionpresupuestos/aspx/SelconsultaDC.aspx">Presupuestos CCAA 2006-2010 (Ministerio de hacienda)</a></li>
      <li><a href="http://www.ine.es/jaxiBD/tabla.do?per=12&type=db&divi=DPOP&idtab=1">Población residente 2006-2010 (INE)</a></li>
    </ul>
  	<p><span class="label notice">Nota</span> Ceuta y Melilla utilizan una escala diferente para facilitar su visualización.</p>
  </div>
  
  <div class="span4 offset1">
    <strong>Visualización original por:</strong><br/>
    <a href="http://visup.it/" style="border: none;"><img src="/images/visup.png"/></a>
  </div>
</div>

<!-- APPLICATION INIT -->
<script type="text/javascript" src="/javascripts/ccaa.js"></script>
