<div class="row">
  <div class="span10 offset2">
    <div class="page-header">
      <h1>¿Qué es esto?
      </h1>
      <p>Una visualización de los gastos anuales de la Administración Central del Estado (ministerios, agencias dependientes y otros organismos públicos, como el Congreso) <strong>y la Seguridad Social</strong>, tal y como aparecen recogidos en los Presupuestos Generales.</p>
    </div>

    <h4>¿También se incluyen las empresas públicas?</h4>
    <p>No, las empresas públicas (AENA, ADIF...) tienen sus propios presupuestos. Pero las posibles transferencias de la Administración a estas empresas sí que estarían recogidas.</p>

    <h4>¿Dónde están los años anteriores al 2008?</h4>
    <p>Itentaremos añadirlos, pero el formato de los datos ha cambiado y requiere cierto esfuerzo.</p>

    <h4>¿Y estos son los gastos reales?</h4>
    <p>Son los gastos presupuestados, que deberían aproximarse bastante, pero no son los gastos reales.</p>

    <h4>¿Y para el 2011?</h4>
    <p>Los Presupuestos han sido aprobados, pero en la web del Ministerio de Economía sólo está disponible un avance, así que de momento mostramos el proyecto presentado por el gobierno. En cuanto estén los datos definitivos los usaremos.</p>

    <h4>¡Casi no se gasta dinero en sanidad!, ¿cómo es posible?</h4>
    <p>Estas y otras competencias están transferidas a las Comunidades Autonómas, por lo que la Administración Central les transfiere una cierta cantidad de capital como compensación. Por eso la sección de transferencias es tan grande.</p>

    <h4>¿Y no sería mejor mostrar el destino final del gasto para las transferencias a cada Comunidad Autónoma?</h4>
    <p>Posiblemente sí, pero los datos no están disponibles tal cual ahora mismo. Estamos pensando en cómo calcularlos y presentarlos.</p>

    <h4>¿Habéis transformado los datos originales?</h4>
    <p>No, nos hemos limitado a clasificar las partidas de gasto de los presupuestos en diez categorias básicas (sanidad, protección social, cultura...) siguiendo el <a href="http://unstats.un.org/unsd/cr/registry/regcst.asp?Cl=4">estándar COFOG de las Naciones Unidas</a>.</p>

    <h4>¿"partidas de gasto"?</h4>
    <p>El gasto total de los presupuestos se divide en aproximadamente doscientas "partidas de gasto" muy concretas, que a su vez se agrupan en "areas" genéricas. Esa es la estructura que puedes observar a partir del segundo nivel de la visualización.</p>

    <h4>Todo esto está muy bien, pero ¿por qué no hacéis X?</h4>
    <p><a href="/sobre-nosotros/">Cuentános tu idea y tus sugerencias</a>.</p>

    <h4>¿Y entonces lo haréis?</h4>
    <p>Si suficiente gente cree que es una buena idea, lo intentaremos, pero esto lo hacemos en nuestros ratos libres.</p>

    <h4>¿Dedicais vuestro tiempo libre a esto?</h4>
    <p>Sí, nos parece un buen ejemplo de transparencia (Open Data / Open Government), y una buena forma de aclarar un tema muy importante: cómo se gasta nuestro dinero.</p>

    <h4>Muy interesante, ¿cómo puedo ayudar?</h4>
    <p>Programando, revisando los datos, sugiriendo nuevas fuentes de datos. <a href="/sobre-nosotros/">Ponte en contacto</a> y lo hablamos.</p>

  </div>
</div>