<div id="content">
  <strong><p>¿Qué es esto?</p></strong>
  <p>Una visualización de los gastos anuales de la Administración Central del Estado (ministerios, agencias dependientes y otros organismos públicos, como el Congreso), tal y como aparecen recogidos en los Presupuestos Generales.</p>

  <strong><p>¿También se incluyen las empresas públicas?</p></strong>
  <p>No, las empresas públicas (AENA, ADIF...) tienen sus propios presupuestos. Pero las posibles transferencias de la Administración a estas empresas sí que estarían recogidas.</p>

  <strong><p>¿Y la Seguridad Social?</p></strong>
  <p>De momento no incluimos sus gastos, pero estamos en ello, en unos días posiblemente.</p>

  <strong><p>¿Dónde están los años anteriores al 2008?</p></strong>
  <p>Itentaremos añadirlos cuando tengamos un rato: el formato de los datos ha cambiado y requiere cierto esfuerzo.</p>

  <strong><p>¿Y estos son los gastos reales?</p></strong>
  <p>Son los gastos presupuestados, que deberían aproximarse bastante, pero no son los gastos reales.</p>

  <strong><p>¿Y para el 2011?</p></strong>
  <p>De momento los Presupuestos no han sido aprobados, así que mostramos el proyecto presentado por el gobierno.</p>

  <strong><p>¡Casi no se gasta dinero en sanidad!, ¿cómo es posible?</p></strong>
  <p>Estas y otras competencias están transferidas a las Comunidades Autonómas, por lo que la Administración Central les transfiere una cierta cantidad de capital como compensación. Por eso la sección de transferencias es tan grande.</p>

  <strong><p>¿Y no sería mejor mostrar el destino final del gasto para las transferencias a cada Comunidad Autónoma?</p></strong>
  <p>Posiblemente sí, pero los datos no están disponibles tal cual ahora mismo. Estamos pensando en cómo calcularlos y presentarlos.</p>

  <strong><p>¿Habéis transformado los datos originales?</p></strong>
  <p>No, nos hemos limitado a clasificar las partidas de gasto de los presupuestos en diez categorias básicas (sanidad, protección social, cultura...) siguiendo el <a href="http://unstats.un.org/unsd/cr/registry/regcst.asp?Cl=4">estándar COFOG de las Naciones Unidas</a>.</p>

  <strong><p>¿"partidas de gasto"?</p></strong>
  <p>El gasto total de los presupuestos se divide en aproximadamente doscientas "partidas de gasto" muy concretas, que a su vez se agrupan en "areas" genéricas. Esa es la estructura que puedes observar a partir del segundo nivel de la visualización.</p>

  <strong><p>Todo esto está muy bien, pero ¿por qué no hacéis X?</p></strong>
  <p><a href="/sobre-nosotros/">Cuentános tu idea y tus sugerencias</a>.</p>

  <strong><p>¿Y entonces lo haréis?</p></strong>
  <p>Si suficiente gente cree que es una buena idea, lo intentaremos, pero esto lo hacemos en nuestros ratos libres.</p>

  <strong><p>¿Dedicais vuestro tiempo libre a esto?</p></strong>
  <p>Sí, nos parece un buen ejemplo de transparencia (Open Data / Open Government), y una buena forma de aclarar un tema muy importante: cómo se gasta nuestro dinero.</p>

  <strong><p>Muy interesante, ¿cómo puedo ayudar?</p></strong>
  <p>Programando, revisando los datos, sugiriendo nuevas fuentes de datos. <a href="/sobre-nosotros/">Ponte en contacto</a> y lo hablamos.</p>

</div>