<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>¿Dónde van mis impuestos?</title>
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>  
  <script src="http://code.jquery.com/ui/1.8.17/jquery-ui.min.js"></script>  
  <%= partial 'partials/analytics' %>
</head>

<body>
<!--
  <%= partial 'partials/begin_body' %>
-->
  <!-- Topbar
  ================================================== -->
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <a class="brand" href="/">¿Dónde van mis impuestos?</a>

        <ul class="nav secondary-nav">
          <li><a href="/">Inicio</a></li>
          <li><a href="/ayuda/">¿Qué es esto?</a></li>
          <li><a href="/sobre-nosotros/">Sobre nosotros</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Masthead (blueprinty thing)
  ================================================== -->
  <header class="jumbotron masthead" id="overview">
    <div class="inner">
      <div class="container">
        <h1>¿Dónde van mis impuestos?</h1>
        <p class="lead">
          Una visualización de los Presupuestos Generales del Estado en España.<br />
        </p>
        <p>"Un cínico conoce el coste de todo y el valor de nada.", Oscar Wilde</p>
      </div>
    </div>
  </header>
        
  <div class="container">
    <section id="main">
      <%= yield %>
    </section>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span4 offset1">
          <h5>Más información</h5>			
          <ul class="unstyled">
            <li><a href="/sobre-nosotros/">Sobre nosotros</a></li>
            <li><a href="http://blog.dondevanmisimpuestos.es">Blog</a></li>
            <li><a href="http://data.dondevanmisimpuestos.es">API</a></li>
            <li><a href="/legal/">Normas de Uso</a></li>
            <li><a href="/legal/">Política de Privacidad</a></li>
          </ul>
        </div>
        <div class="span8">
          <h5>Sobre dondevanmisimpuestos.es</h5>			
          <p>
            Un proyecto de la <a href="http://www.okfn.org/">Open Knowledge Foundation</a> y 
            <a href="http://www.probp.org/">Pro Bono Publico</a>
          </p>
          <p>
            &copy; <a href="http://www.okfn.org/">Open Knowledge Foundation</a> y 
            <a href="http://www.probp.org/">Pro Bono Publico</a>
          </p>
        </div>
        <div class="span3">
          <img src="http://m.okfn.org/images/logo/okf_logo_white_and_green.png" id="footer-okf-logo" />
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
