<div id="content">

  <h2>Derechos sobre datos, contenidos y código</h2>
  
  <p>Excepto donde se señala específicamente otra provisión, los datos,
  contenidos y código están disponibles para su uso en los términos que a
  continuación se detallan.</p>

  <h2>Los datos</h2>

  <p>Los datos (base de datos) son provistos bajo una 
    <a href="http://www.opendatacommons.org/licenses/odbl/summary/">Open Database License (ODbL)</a>. 
    Esto quiere decir que se puede libremente:</p>

  <ul>
    <li>Compartir: copiar, distribuir y usar los datos.</li>
    <li>Crear: elaborar nuevos análisis empleando la base de datos.</li>
    <li>Adaptar: modificar, transformar y enriquecer la base de datos.</li>
  </ul>

  <p>Sujeto a:</p>

  <ul>
    <li>Atribución: debes atribuir cualquier uso público de la base de datos, o
    análisis resultante de la base de datos, haciendo referencia a
    dondevanmisimpuestos.es, o a datos derivados de la base de datos sobre los
    presupuestos públicos de dondevanmisimpuestos.es. Para cualquier uso o
    redistribución de la base de datos, debes explicitar a terceros los términos
    de la licencia y mantener inalteradas las anotaciones de la base de datos
    original.</li>

    <li>Igual uso: si usas públicamente una versión adaptada de esta base de datos,
    o análisis generados desde una base de datos adaptada, tú también debes
    ofrecer esa base de datos adaptada bajo una licencia ODbL.</li>

    <li>Mantener abierto: si redistribuyes la base de datos o una versión adaptada
    de la misma, entonces puedes emplear recursos tecnológicos para restringir
    el acceso a ese trabajo (p.e. gestión de derechos digitales, o DRM por sus
    siglas en inglés) siempre y cuando también redistribuyas una versión sin
    esas restricciones.</li>
  </ul>

  <h2>El contenido</h2>

  <p>Los textos en esta página web están bajo una licencia 
  <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution</a>.</p>

  <p>El resto de contenidos están bajo una licencia 
  <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a>.</p>

  <h2>El código</h2>

  <p>El código de la web está provisto bajo una licencia 
    <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL v3.0</a>,
    y está disponible <a href="https://github.com/dcabo/dondevanmisimpuestos.es">aquí</a>.</p>
  
  <p>El código necesario para extraer y procesar la información está provisto bajo una licencia 
    <a href="http://www.gnu.org/licenses/agpl-3.0.html">GPL v3.0</a>,
    y está disponible <a href="http://www.gnu.org/licenses/gpl.html">aquí</a>.</p>  
</div>