#dashboard-view-title {
  float: left;
  display: none;
}

#dashboard-masthead {
  margin-top: 5px;
}

#dashboard-intro-wrapper {
  width: 300px;
  float: left;
  font-size: 85%;
}

/*********************************
  * Dashboard Menu
  ********************************/

div#dashboard-navigation {
  float: right;
}

#dashboard-navigation ul {
  margin-bottom: 10px;
}

ul.flash-menu  {
  clear: right;
  float: right;
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
  list-style-type:none;
}

ul.flash-menu li {
  color:#333333;
  display:inline;
  font-size:11px;
  font-weight:bold;
  list-style-type:none;
  margin:0 0 0 10px;
}

ul.flash-menu li a {
  outline: medium none;
}

/* button basics */
a.minibutton {
  display:inline-block;
  height:23px;
  padding:0 0 0 3px;
  font-size:11px;
  font-weight:bold;
  color:#333;
  text-shadow:1px 1px 0 #fff;
  background:url(images/minibutton_matrix.png) 0 0 no-repeat;
  white-space:nowrap;
  border:none;
  overflow:visible;
  cursor:pointer;
  text-decoration:none;
}

a.minibutton>span {
  display:block;
  height:23px;
  padding:0 10px 0 8px;
  line-height:23px;
  background:url(images/minibutton_matrix.png) 100% 0 no-repeat;
}

a.minibutton:hover, a.minibutton:focus, a.minibutton.active {
  color:#fff;
  text-decoration:none;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
  background-position:0 -30px;
}
a.minibutton:hover>span, a.minibutton:focus>span, a.minibutton.active>span {background-position:100% -30px;}

a.minibutton.mousedown{background-position:0 -60px; }
a.minibutton.mousedown>span{background-position:100% -60px; }


/*********************************
  * Flash
  ********************************/

/* remove default black border from Flash wrapper */
#dashboard-flash-wrapper {
  background: none;
  /*border: solid 1px black; */
  height: 600px;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
}

#dashboard-submenu .sharethis {
}

/*********************************
  * Sharing
  ********************************/

/* share this */
input#iframecode {
  width: 40%;
  font-size: 80%;
  line-height: 15px;
}

/*********************************
  * Comments
  ********************************/

#commentframe {
  margin: 10px 0 0 0;
}

/********************************
 * Infobox
 ********************************/

.wdmmg-popupbox {
	background: rgba(0,0,0,0.7);
	box-shadow: 5px 5px 25px rgba(0,0,0,0.4);
	-moz-box-shadow: 5px 5px 25px rgba(0,0,0,0.4);
	-webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.4);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.wdmmg-popupbox .head {
	cursor: move;
}

.wdmmg-popupbox .head h3 {
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	margin: 5px;
	padding: 0;
	clear: none;
}

.wdmmg-popupbox .head .close {
	float: right;
	margin-right: 5px;
	height: 24px;
	width: 24px;
	background: transparent url(images/popupbox-cross.png) 0 -24px no-repeat;
}

.wdmmg-popupbox .head .close:hover {
	background-position: 0 0;
}

.wdmmg-popupbox .content {
	background: #fff;
	margin: 0 5px 5px 5px;
	padding: 5px;
	min-height: 150px;
	max-height: 400px;
	min-width: 150px;
	max-width: 400px;
	overflow: auto;
}

.wdmmg-helpbox {
	background: rgba(45,106,184,0.7);
