body {
    padding-top: 40px;
}

.footer {
    background-color: #EEEEEE;
    border-top: 1px solid #E5E5E5;
    min-width: 940px;
    padding: 15px 0;
    text-shadow: 0 1px 0 #FFFFFF;
}

.footer p {
    color: #555555;
}

.jumbotron {
    min-width: 940px;
}
.jumbotron .inner {
    background: url("/images/old_mathematics.png") repeat scroll center top transparent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3) inset;
    padding: 45px 0;
}
.jumbotron h1, .jumbotron p {
    color: #222;
    margin-bottom: 9px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.jumbotron h1 {
    font-size: 54px;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.jumbotron p {
    font-weight: 300;
}
.jumbotron .lead {
    font-size: 20px;
    line-height: 27px;
}
.masthead {
    background-color: #049CD9;
    background-image: -moz-linear-gradient(#004D9F, #049CD9);
    background-repeat: no-repeat;
}

.quickstart {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(#F9F9F9, #F5F5F5);
    background-repeat: repeat-x;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #FFFFFF;
}
.quickstart .container {
    margin-bottom: 0;
}
.quickstart .row {
    box-shadow: 1px 0 0 #F9F9F9;
    margin: 0 -20px;
}
.quickstart [class*="span"] {
    border-left: 1px solid #EEEEEE;
    box-shadow: 1px 0 0 #F9F9F9 inset;
    height: 67px;
    margin-left: 0;
    padding: 17px 20px 26px;
    width: 285px;
}
.quickstart [class*="span"]:last-child {
    border-right: 1px solid #EEEEEE;
    width: 286px;
}
.quickstart h6, .quickstart p {
    color: #333333;
    line-height: 18px;
    margin-bottom: 9px;
    text-align: center;
}
.quickstart h6, .quickstart h6 a {
    color: #999999;
}
section {
    padding-top: 40px;
}